.Container{
    margin-top: 19px;
    height: auto;
    border: solid;
    background-color:whitesmoke;
    margin-top: 150px;
}
.img{
    height: 29em;
    margin-left: -100px;
    padding: auto;


}
.dep_courses{
    margin-left:-50px;
}
.dep_partner{
    margin-left:-50px;
}
.access_control FormControl{
    margin-left: 1px;
    width: 50px;
}
/* @media (min-width: 768px) and (max-width: 1024px)
{
    .img{
        position: relative;
        right: 8rem;
    }
    .dep_courses{
        margin-left:-50px;
    }
    .dep_partner{
        margin-left:-50px;
    }
} */


@media (max-width: 1199px) {

.dep_courses{
        display: flex;    
        flex-direction: row;    
        margin-left: auto;
        margin-right: '-500px';

    }
    .Container{
        margin-top: 19px;
        height: auto;
        border: 3px solid;
        background-color:whitesmoke;
        width:100%;
        padding-right:100px;
        margin:60px
    }
    .dep_courses{
        margin-left:50px;
    }
    .dep_partner{
        margin-left:50px;
    }
    .img{
        display: block;
        margin:auto;
        width: 300px;
    }
    .access_control{
        display: block;
        /* width: -50px !important;
         */
         /* margin-left:-10px; */
        
    }
}
@media (max-width: 706px) {

    .dep_courses{
            display: flex;    
            flex-direction: row;    
            margin-left: auto;
            margin-right: '-500px';
    
        }
        .Container{
            margin-top: 19px;
            height: auto;
            border: 3px solid;
            background-color:whitesmoke;
            width:100%;
            padding-right:100px;
            margin:60px
        }
        .dep_courses{
            margin-left:auto;
        }
        .dep_partner{
            margin-left:auto;
        }
        .img{
            display: block;
            margin:auto;
            width: 300px;
        }
        .access_control{
            display: block;
            /* width: -50px !important;
             */
             /* margin-left:-10px; */
            
        }
    }
    
@media (min-width:258px) and ( max-width: 400px) {
    .img{
        display: block;
        margin:auto;
        width: 300px;
    }
    .dep_courses{
      margin-left: -50px;
        
    }
    .dep_courses{
        margin-left:-50px;
    }
    .dep_partner{
        margin-left:-50px;
    }
    .access_control{
        display: block;
        width: 4% !important;
        
    }
}
