* {
    text-align: justify;
  }
  .main_body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;

  }
  
  .header_img {
    align-items: center;
  }
  .header_img img {
    width: 200px;
    height: 220px;
  }
  .header_heading {
    color: aliceblue;
    margin-left: -35px;
    font-weight: 500;
    font-size: 100px;
    font-family: var(--font-family);
  }
  .Landing_content {
    margin: 1rem;
    color: aliceblue;
    font-size: x-large;
    font-family: var(--font-family);
  }
  .Landing_content span {
    font-size: xx-large;
  }
  #sub_body_reverse {
    flex-direction: row-reverse;
  }
  .sub_body {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0.5rem;
    gap: 0.5rem;
  }
  .sub_body_left {
    padding: 0.5rem;
    width: 40%;
    height: 100%;
  }
  .sub_body_left img {
    width: 100%;
    height: 100%;
  }
  .sub_body_left video {
    width: 100%;
    height: 100%;
  }
  .sub_body_right {
    padding: 0.5rem;
    width: 60%;
    justify-content: center;
    align-items: center;
    
  }
  .upper {
    font-family: var(--font-family);
  }
  .upper p {
    margin: 1rem;
    color: aliceblue;
  
    font-size: x-large;
  }
  #heading {
    margin-left: 1rem;
    font-size: x-large;
  }
  @media only screen and (max-width: 1024px) {
    .Landing_content {
      margin: 0.5rem;
      font-size: 20px;
    }
    .upper p {
      margin: 0.5rem;
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    .header_img img {
      width: 60px;
      height: 80px;
      z-index: 10;
    }
    .header_heading {
      font-weight: 600;
      font-size: 40px;
    }
    .header_heading {
      margin-left: -10px;
    }
  
    .sub_body_left {
      width: 100%;
      height: 100%;
    }
    .sub_body_right {
      width: 100%;
      height: 100%;
    }
    .sub_body {
      flex-direction: column;
    }
    #sub_body_reverse {
      flex-direction: column;
    }
    #heading {
      margin-left: 0.5rem;
      font-size: larger;
    }
  }
  @media only screen and (max-width: 425px) {
    .Landing_content {
      margin: 0.5rem;
      font-size: 17px;
    }
    .upper p {
      margin: 0.5rem;
      font-size: 17px;
    }
  }