#blog{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 20px;
}
@media (min-width:300px) and (max-width:600px) {

  #blog{
  display: block;
  margin-left:-20px;
  padding: 0px;
  box-sizing: border-box;
}
}
