*, *:before, *:after {
    box-sizing: border-box;
  }
  
 
  
  .content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
  }
  
  .heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
  }
  .heading:after {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    /* back-newground: linear-gradient(135deg, #1a9be6, #1a57e6); */
    bottom: 0;
  }
  
  .description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
  
  .new-card {
   
    cursor: pointer;
   
    height: 300px;
    width: 300px;
 
    margin: 1rem;
  }
  @media screen and (max-width: 800px) {
    .new-card {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (max-width: 550px) {
    .new-card {
      width: calc(50% - 1rem);
    }
  }
  @media screen and (max-width: 500px) {
    .new-card {
      width: 73%;
    }
  }
  
  .front-new,
  .back-new {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-back-newface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
  }
  .front_Img{
    height: 100%;
    width: 100%;
  }
  .front-new {
    background-size: cover;
    padding: 2rem;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    font-family: Poppins, sans-serif;
    width: 300px;
    height: 300px;
    background-color: #0D0628;
    border: 1px solid white;

  }
  .front-new:before {
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    z-index: -1;
  }
  .new-card:hover .front-new {
    transform: rotateY(180deg);
  }
  .new-card:nth-child(even):hover .front-new {
    transform: rotateY(-180deg);
  }
  
  .back-new {
    background: #fff;
    transform: rotateY(-180deg);
    padding: 0 2em;
    width: 300px;
    height: 300px;
  }
  .back-new .button-new {
    background-color: #0D0628;
  }
  .back-new .button-new:before {
    box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
  }
  .new-card:hover .back-new {
    transform: rotateY(0deg);
  }
  .new-card:nth-child(even) .back-new {
    transform: rotateY(180deg);
  }
  .new-card:nth-child(even) .back-new .button-new {
    background: linear-gradient(135deg, #e61a80, #e61a3c);
  }
  .new-card:nth-child(even) .back-new .button-new:before {
    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
    background-color: rgba(230, 26, 60, 0.25);
  }
  .new-card:nth-child(even):hover .back-new {
    transform: rotateY(0deg);
  }
  
  .button-new {
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-back-newface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 100px;
    font: inherit;
    border: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
  }
  .button-new:before {
    transition: 300ms ease;
    position: absolute;
    display: block;
    content: "";
    transform: translateZ(-40px);
    -webkit-back-newface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 100px;
    left: 10px;
    top: 16px;
  }
  .button-new:hover {
    transform: translateZ(55px);
  }
  .button-new:hover:before {
    transform: translateZ(-55px);
  }
  .button-new:active {
    transform: translateZ(20px);
  }
  .button-new:active:before {
    transform: translateZ(-20px);
    top: 12px;
  }


  .container{  padding-top: 20px;
    padding-bottom: 20px;
  

}

@media screen and (max-width : 320px) {

  .new-card{
    width: 85%;
    height: 285px;
  }
  .front-new{
    width: 85%;
    height: 285px;
  }
  
  .back-new{
    width: 85%;
    height: 285px;
  }
  
  
}