.course-main-div{
width: 95%;
    display: flex;
    margin-left: 30px;
    justify-content: space-around;
    margin-top: 50px;
}

.course-content{
    color: white;
    font-size: 40px;
    font-weight: 500;
    width: 700px;
    margin-top: 80px;
}
.ar-img{
    width: 450px;
    border-radius: 20px;
}

.explore-btn{
    width: 180px;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #008DD2;
    margin-left: 180px;

}
.btn-content{
   font-size: 25px;
   margin-top: 9px;
   color: white;
}