.download_body{
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* border: 2px solid red; */
}
.download_sub_body{
    width: 60vw;
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    padding: 1rem; 
    gap: 1rem;
    border-radius: 2rem;
    border-top-left-radius: 0%;
}
.download_image{
    width: 30%;
    height: 200px;
    /* border: 2px solid red; */
    /* padding: 1rem; */
    border-right: 2px solid white;
}
.image_{
    padding-right: 1rem;
    width: 100%;
    height: 100%;
}
.content-download{
    width: 80%;
    border: 2px solid rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1.5rem;
    border-top-left-radius: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.upper_content{
    font-family: var(--font-family);
    color: aliceblue;
    display: flex;
    flex-direction: column;

}
.lower_content{
    display: flex;
    align-items:initial;
    flex-direction: row-reverse;
}
@media screen and (max-width: 1000px) {
    .download_sub_body{
        width: 90vw;
    }
}
@media screen and (max-width: 500px) {
    .download_sub_body{
        flex-direction: column;
    }
    .download_image{
        height: 100%;
        width: 100%;
        
        border: 0ch;
    }
    .image_{
        padding: 0;
    }
    .content{
        height: 100%;
        width: 100%;
        gap: 1rem;
        border-radius: 0%;
    }
    .download_sub_body{
        border-radius: 0;
    }
    .lower_content{
        font-size: small;
    }
}