
.FContainer {
    width: 100%;
    background-color: #0d0628;
    margin-top: 100px;
    z-index: -1;
    height: auto;
   
  }
.feedContainer {
  width: 80%;
  margin:0 6rem;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.1);
  padding: 2rem 2.5rem;
  /* height: 150vh; */
}
.bottom{
    box-shadow: 0px 24px 16px 8px rgba(0,0,0,0.1);
}
.feedTitle h3 {
  font-size: 36px;
  margin-bottom: 1rem;
  background-color: #3510ca;
  color: #fff;
  width: 100%;
  padding: 14px;
  border-radius: 3px 20px ;
  
}

.main1{
    padding: 0.5rem 1.3rem;
    margin: 0 5rem;
    background-color: #fff;
}
.upperPart{
    display:flow-root;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-left: 0 13rem;
}

.subHead p,.subU p,.midPart p,.subPart p{
    
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: .8rem;
    

}
.subU{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;

}
.subU p{
    font-size: 22px;
    margin: 1rem;
}
.subHead p{
    font-size: 14px;
}
 .radioB input{
    display: flex;
   
}
.radioB label{
    position: relative;
    left: 2rem;
    top: -1.1rem;
}
.subPart p,.midPart p{
    font-size: 20px;
}
.subPart{
    margin-bottom: 6rem;
}
 button{
   
    float: right;
    position: relative;
    right: 8%;
    top:-4rem;
    padding: .6rem;
    border: #3510ca;
}

button:hover{
    background-color: #3510ca;
    color: #fff;
}

.textarea{
    display: inline;
    margin-top: 20px;
}
@media only screen and (max-width:760px){
    .feedContainer {
        width: 100%;
        margin:0;
        padding:2rem ;
    }
    .main1{
        margin: 0;
        padding: 0rem;
        background-color: #fff;
    }
    .textarea{
        
        width: 17rem;
        
    }
   
}

@media only screen and (min-width:760px)and (max-width:1050px){
    .textarea{
    display: inline;
    width: 30rem;

 
    }
    .main1{
        margin: 0;
        padding: 0rem;
        background-color: #fff;
    }

}
@media only screen and (min-width:1050px)and (max-width:1500px){
    .textarea{
        display: inline;
        width: 45rem;
    
     
        }
}
