.uniInput{
    margin: 20px;
    

}

.formMainDiv{

        width: 1200px;
        /* height: 600px; */
        border: 1px solid black;
        /* position: absolute; */
        /* top: 10%;
        left: 12%; */
        margin: auto;
        margin-top: 150px;
        min-height: 400px;
        max-height: auto;
        /* margin: 50px; */
        /* margin-left: 180px; */
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: #f7f5f5;
        /* overflow-y: scroll; */
        border-radius: 20px;
        margin-bottom: 100px;
    
}

.rightImg{
     width: 400px; 
     height: 300px;

}

.phase1MainDiv{
        width: 550px;
        margin: 40px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
}

.registerHead{
    margin-bottom: 20px;
}

.ItHead{
     margin-left: 35px; margin-top: 20px 
    }

    .uniDiv{
        width: 800px;
    }

    .uniHead{
        margin-left: 20px;
    }


    .reportHead{
        margin-left: 20px;
    }

    .btnDiv{
            display: flex;
            margin-top: 20px;
            justify-content: space-around;
            flex-wrap: wrap;
          
    }

    .uniHead2{
        margin-left: 35px;
    }

    .uni2Input{
        margin: 10px;
         width: 300px;
         margin-left: 35px; 

    }

    .inputDate{
            margin: 10px;
            width: 150px;
            height: 50px;
            margin-left: 15px;
    }

    .otpBtn{
         margin-top: 10px;
          margin-left: 10px;

    }

    .registerAs{
        width: 550px ;
    }

    .btnDiv1{
            display: flex;
            margin-top: 20px;
            justify-content: center;
    }

    .uniInputT{
        width: 222.4px;
        margin: 10px;
    }

@media screen and (max-width : 1025px) {

    .formMainDiv{

        width: 1025px;
        margin: 20px;
      
        margin-top: 100px;
    
    
}

.rightImg {
    width: 322px;
    height: 275px;
    margin-top: 70px;
    margin-right: 40px;
}
    
}

@media screen and (max-width : 769px) {

    .rightImg {
       display: none;
    }

    .formMainDiv{

        width: 725px;
        margin: 20px;
      
        margin-top: 100px;
    
    
}
    
}
@media screen and (max-width : 426px) {

   

    .formMainDiv{

        width: 390px;
        margin: 20px;
      
        margin-top: 100px;
        padding: 10px;
    
    
}

.registerAs{
    width: 250px ;
}

.btnDiv1{
    margin-right: 45px;
}


.uniDiv{
    display: flex;
    flex-direction: column;
}

.uniInputT{
    width: 350.4px;
    margin: 20px;
    /* margin-left: 100px; */
}

.uniDiv2Main{
    display: flex;
    flex-direction: column;
}
    
}
.content {
    align-items: center;
    
    border-radius: 1.5rem;
    border-top-left-radius: 0;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    
}
