.part-img{
    width: 100px;
}
.adWrapper {
    margin-top: 100px;
    height: 203px;
    background: #0D0628;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-left: 71px;
  }
.adsHeading {
    font-family: Jost;
    /* font-size: normal; */
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;

    letter-spacing: -0.41px;
  }

  @media screen and (max-width : 650px) {

    .adWrapper{
        margin-left: 60px;
    }
    
  }
  @media screen and (max-width : 426px) {

    .adWrapper{
        margin-left: 20px;
    }
    
  }
  @media screen and (max-width : 376px) {

    .adWrapper{
        margin-left: 15px;
    }
    
  }
  @media screen and (max-width : 320px) {

    .adWrapper{
        margin-left: 15px;
    }
    
  }