.roadmap_body{
   
    width: 100vw;
    /* height: 800px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 100px;
}

/* span{color: aliceblue;} */
.roadmap_container{
    border-radius: 20px;
    /* border: 2px solid red; */
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    /* color: aliceblue; */
    flex-direction: row;
    background-color: rgb(237 231 231);
    gap: 1.5rem;
}
.roadmap_heading{
    font-weight: 800;
    color: aliceblue;
    font-size: 4rem;
    font-family: var(--font-family);
}
.left_roadmap{
    /* border: 2px solid red; */
    justify-self: center;
    width: 100%;
    padding: 1rem;
    padding-left: 122px;
    
}
.right_roadmap{
    /* border: 2px solid red; */
    height: 600px;
}
.right_image{
    height: 100%;
    width: 50vw;
    filter: brightness(0.9);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
}
/* .right_image img{justify-self: center;} */
@media screen and (max-width: 1020px) {
    .right_roadmap{
       
        height: 100%;
    }
    .roadmap_container{
        flex-direction: column-reverse;
    }
    .right_image{
        height: 80%;
        width: 100%;
    }
}
@media screen and (max-width: 720px) {
    .roadmap_heading{
        font-size: 3rem;
    }
    
    .right_image{
        height: 80%;
        width: 100%;
    }
    .left_roadmap{
        padding-left: 10vw;
    }
}
@media screen and (max-width: 425px) {
    .roadmap_heading{
        font-size: 2rem;
    }
}