.University_card {
  width: 31%;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
.University_card_img {
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.University_card_img img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 1.8rem;
}
.University_card_img img:hover {
  filter: brightness(0.7);
}
.university_card_text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding-bottom: 1rem;
}
.card_text_heading {
  background-color: rgb(0, 36, 125);
  width: 100%;
  font-size: larger;
  text-align: center;
  padding: 0.3rem;
}
.card_text {
  height: 60px;
  font-size: 15px;
}

@media screen and (max-width: 1050px) {
  .card_text {
    font-size: 13.5px;
  }
}
@media screen and (max-width: 900px) {
  .card_text {
    font-size: 13px;
  }
}
@media screen and (max-width: 800px) {
  .University_card {
    width: 48%;
  }
  .card_text {
    font-size: 13.5px;
  }
}
@media screen and (max-width: 670px) {
  .University_card {
    width: 47%;
  }
  .card_text {
    font-size: 13px;
  }
}
@media screen and (max-width: 550px) {
  .University_card {
    width: 100%;
  }
  .card_text {
    font-size: 13.5px;
  }
}
